#blog__inner {
    background-color: #fff;
}
/* Intro start */
#blog__inner #intro{
    background-color: #fff;
    padding: 96px 0;
}
#blog__inner #intro .wrapper{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    position: relative;
}
#blog__inner #intro .inner__corner{
    background-color: #fff;
    width: 48px;
    height: 52px;
    position: absolute;
    top: 0;
    right: 0;
}
#blog__inner #intro .inner__cube{
    background-color: #fff;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 0;
}
#blog__inner #intro .activity__hall{
    background-color: #fff;
    width: auto;
    height: 386px;
    object-fit: contain;
}
#blog__inner #intro .intro__title{
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    color: #232536;
    margin-top: -50px;
    margin-bottom: 24px;
}
#blog__inner #intro .intro__text{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #8f9096;
    margin: 24px 0 32px 0;
}
#blog__inner #intro .profile{
    display: flex;
    align-items: center;
    margin: 12px 0 96px 0;
}
#blog__inner #intro .profile__img{
    margin-right: 12px;
}
#blog__inner #intro .profile__name{
    margin-right: 12px;
    border-right: 1px solid rgb(215, 212, 212);
    padding-right: 16px;
    line-height: 15px;
    font-weight: 400;
    font-size: 16px;
    color: #54555b;
}
#blog__inner #intro .profile__date{
    margin-left: 8px;
    line-height: 15px;
    font-weight: 400;
    font-size: 16px;
    color: #54555b;
}
#blog__inner #intro .activity__hall{
    margin: 56px 0;
    border: 2px solid grey;
}

#blog__inner #long__text  .long_text__title{
    color: #232536;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    margin: 96px 0 24px 0;
}
#blog__inner #long__text  .long__text--text{
    color: #232536;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 24px 0;
    color: #232536;
}
#blog__inner #long__text  .long__text--sub-title {
    color: #232536;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    margin: 40px 0 24px 0;
    color: #232536;
}
#blog__inner #long__text  .long__text--sub-title__list{
    list-style-type: none;
    color: #232536;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}
#blog__inner #long__text  .long__text--sub-title-text{
    list-style-type: none;
    color: #232536;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 24px 0 96px 0;
}
/* Intro end */